body{
    margin: 0;
    padding: 0;
    background: url(dark.jpg) no-repeat;
    background-size: cover;
}

.login-box{

    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}
.login-box h2{

    float: left;
    font-size: 40px;
    border-bottom: 5px solid greenyellow;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{

    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 10px 0;
    border-bottom: 1px solid greenyellow;
}



.textbox input{

    border: none;
    outline: none;
    background:none;
    color: greenyellow;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;

}

.btn{

    width: 100%;
    background: none;
    border:2px solid royalblue;
    color: white;
    padding: 5px;
    font-size: 18px
    
    

}