#number-guess, #result, #history {
    max-width: 380px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color: #dc1d5242;
    font-size: 90px;
    font-family: sans-serif;
}
